/.vagrant
/.idea
/.vscode
/laradock*/
/node_modules
/vendor
/apidoc-templates
/public/hot
/public/storage
/public/uploads/
/public/api
/public/api-rendered-markdowns
/storage/*.key
/storage/logs/laravel.log
.env
.env.backup
.phpunit.result.cache
_ide_helper*.php
.phpstorm.meta.php
Homestead.json
Homestead.yaml
composer.loc
npm-debug.log
yarn-error.log
package-lock.json

